<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="/stylesheets/theme.css">
<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
<link rel="icon" href="/images/favicon.ico" type="image/x-icon">

<script type="text/javascript" src="/javascripts/vendor/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/vendor/jquery.mini.parallax.js"></script>
<script type="text/javascript" src="/javascripts/vendor/wow.min.js"></script>
<script type="text/javascript" src="/javascripts/lib/smoothScroll.js"></script>
<script type="text/javascript" src="/javascripts/lib/showAfter.js"></script>

<script type="text/javascript">
  $(function() {
    // reveal animations when user sees them
    wow = new WOW({
      boxClass:     'reveal-animation',
      animateClass: 'animated',
      offset:       200,
      mobile:       false,
      live:         true
    });
    wow.init();
  });
</script>

<!-- <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}"> -->
